.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--icon-size, 20px);
  height: var(--icon-size, 20px);
  color: var(--icon-color, var(--colors-text-default));
  transition: color var(--interactions-transitions-duration-fast) var(--interactions-transitions-easing-ease-in-out);
}
